# Django
SECRET_KEY=your-secret-key-change-in-production
DEBUG=1
DOCKER_VERSION=develop
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0,ai-web
DOCKER_VERSION=develop

# Database (MySQL)
DB_ENGINE=django.db.backends.mysql
DB_NAME=croplogic
DB_USER=croplogic
DB_PASSWORD=changeme
DB_HOST=db
DB_PORT=3306
DB_ROOT_PASSWORD=root

ACCESS_CONTROL_AUTHZ_ENABLED=true
ACCESS_CONTROL_AUTHZ_BASE_URL=http://croplogic-accsess-opa:8181
ACCESS_CONTROL_AUTHZ_BATCH_PATH=/v1/data/croplogic/authz/batch_decision
ACCESS_CONTROL_AUTHZ_TIMEOUT=30
# SMS.ir
SMS_IR_API_KEY=
SMS_IR_LINE_NUMBER=300000000000
USE_EXTERNAL_API_MOCK=true

CROP_ZONE_CHUNK_AREA_SQM=10000

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
CELERY_BROKER_CONNECTION_RETRY_ON_STARTUP=true

FARM_ALERTS_AI_SYNC_CRON_MINUTE=0
FARM_ALERTS_AI_SYNC_CRON_HOUR=*

QDRANT_HOST=qdrant
QDRANT_PORT=6333

SENSOR_EXTERNAL_API_KEY=12345

SENSOR_EXTERNAL_API_KEY=12345
