Django>=5.0,<5.2
djangorestframework>=3.14,<3.16
djangorestframework-simplejwt>=5.3,<5.4
django-cors-headers>=4.3,<4.5
drf-spectacular>=0.27,<0.28
drf-spectacular-sidecar>=2024.7.1,<2025
celery[redis]>=5.3,<5.4
redis>=5.0,<5.1

mysqlclient>=2.2,<2.3
gunicorn>=22,<23
python-dotenv>=1.0,<1.1
requests>=2.31,<2.33

